
@import "~office-ui-fabric-react/dist/sass/References.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.atlasBrandDocumentViewerConnect {

  .library {
    float: left;
    list-style-type: none;
    padding-left: 0;
    margin-right: 2em;
    min-height: 12em;
    min-height: 16em;
    width: calc(33% - 1em);
    background-color: #ededed;
}
.libraryName {
  color: #fff;
  background-color: #969696;
  font-weight: 700;
  font-size: 1.5em;
  padding: 0.5em 0.75em;
  border-bottom: 0.15em solid #fff;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.folder {
  list-style-type: none;
  padding: 0.75em;
  background-color: #ededed;
}
.folderName {
  font-size: 1.2em;
  padding: 0.5em;
  border-left: 3px solid #969696;
  color: #969696;
  background-color: #fff;
  cursor: pointer;
}
.folder.active .folderName, .folderName:hover {
  color: #000;
  border-left-color: #CC0A0A;
}
.docs {
  list-style-type: none;
  padding: 0.5em;
  border-left: 3px solid #cc0a0a;
  display: none;
  background-color: #fff;
  border-top: 1px solid #969696;
}


.doc:last-child > a {
  border-bottom: none;
}
.doc > a {
  display: inline-block;
  max-width: calc(100% - 4em);
}
.doc > a {
  padding: 1em 0;
  display: block;
  border-bottom: 1px solid #ededed;
  color: #969696;
  color: #616161;
}

.doc > .docDownload {
  position: relative;
  font-size: 1em;
  float: right;
  padding-top: 1em;
  margin-left: 1em;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

 
  
}
