@import "~office-ui-fabric-react/dist/sass/References.scss";
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:global(#workbenchPageContent) {
  max-width: initial;
}

:global(.CanvasZone > div) {
  width: 100%;
} 

@media (min-width: 768px) {
  .modalXl  {
    width: 95% !important;
    height: 100% !important;
    max-width: 1425px !important;
  }
}
// @media (min-width: 576px){
// .modal-dialog {
//     max-width: 100% !important;
//     height: 100% !important;
//     /* margin: 1.75rem auto; */
// }}

// .addDocuments {
//   box-sizing: unset;

//   .docCard {
//     border: none;

//     .docCardHeader {
//       width: 19em;
//       border-bottom: 0;
//       border: 1px solid rgba(0, 0, 0, 0.125);
//     }
//   }
// }

.library {
  font-family: "Oswald" !important;
  
  float: left;
  list-style-type: none;
  padding-left: 0;
  margin-right: 2em;
  min-height: 12em;
  min-height: 16em;
  width: calc(33% - 1em);
  background-color: #ededed;
}
.libraryName {
  font-family: "Oswald" !important;

  color: #fff !important;
  background-color: #969696 !important;
  font-weight: 700 !important;
  font-size: 1.5em !important;
  padding: 0.5em 0.75em !important;
  border-bottom: 0.15em solid #fff !important;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.folder {
  list-style-type: none;
  padding: 0.75em;
  background-color: #ededed;
}
.folderName {
  font-family: "Oswald" !important;

  font-size: 1.2em !important;
  padding: 0.5em !important;
  border-left: 3px solid #969696 !important;
  color: #969696 !important;
  background-color: #fff !important;
  cursor: pointer !important;
}
.folder.active .folderName,
.folderName:hover {
  color: #000 !important;
  border-left-color: #cc0a0a !important;
}
.docs {
  list-style-type: none;
  padding: 0.5em;
  border-left: 3px solid #cc0a0a;
  display: none;
  background-color: #fff;
  border-top: 1px solid #969696;
}

.doc:last-child > a {
  border-bottom: none;
}
.doc > a {
  display: inline-block;
  max-width: calc(100% - 4em);
}
.doc > a {
  padding: 1em 0;
  display: block;
  border-bottom: 1px solid #ededed;
  color: #969696;
  color: #616161;
}

.doc > .docDownload {
  position: relative;
  font-size: 1em;
  float: right;
  padding-top: 1em;
  margin-left: 1em;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.downloadBut {
  color: #616161;
  cursor: pointer;
  margin-left: 3em;
}
.downloadBut:hover {
  color: #cc0a0a;
}
.downloadBut:active {
  color: #cc0a0a;
}




// body {
//   margin:0px;
//   font-family:'Roboto';
//   text-align:center;
// }

.container {
  font-family: "Oswald" !important;
  color:#999;
  text-transform: uppercase;
  font-size:24px;
  font-weight:bold;
  // padding-top:200px;  
  // position:fixed;
  width:100%;
  // bottom:45%;
  display:block;
}

.flip {
  height:35px;
  overflow:hidden;
}

.flip > div > div {
  color:#fff;
  padding:1px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

.flip div:first-child {
  animation: show 5s linear infinite;
}

.flip div div {
  background:#42c58a;
}
.flip div:first-child div {
  background:#00c5d9;
}
.flip div:last-child div {
  background:#cc0a0a;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

// p {
//   position:fixed;
//   width:100%;
//   bottom:30px;
//   font-size:12px;
//   color:#999;
//   margin-top:200px;
// }

